.movedown {
	height: 9em;
}

.content {
	font-family: "PT Serif";
}

.homemiddleblurb {
	font-size: 4em;
	width: 100%;
	text-align: center;
	color: white;
}

.homemiddleblurb2 {
	font-size: 2em;
	width: 100%;
	text-align: center;
	color: white;
}

.homemiddleblurb3 {
	font-size: 1.7em;
	width: 100%;
	text-align: center;
	padding-top: -10px;
	color: white;
}

.indexlink {
	width: 100%;
	text-align: center;
	text-shadow: .5px .5px #0d0d0d;
	padding-top: -10px;
	color: #f47c3c;
}

.petlivesmatter {
	font-size: 2em;
	width: 100%;
	text-align: center;
	text-shadow: .5px .5px #0d0d0d;
	padding-top: -10px;
	color: #f47c3c;
}

body {
	/* The image used */
	background:
		linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://c4.wallpaperflare.com/wallpaper/51/441/142/closeup-plants-sunlight-leaves-wallpaper-a806cd5850b01c98f01c115e28a2745a.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	
}

