@charset "ISO-8859-1";

body {
	/* The image used */
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url("https://images.unsplash.com/photo-1500023721469-5f8532dce827?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
}

.content {
	font-family: "PT Serif";
}

.title {
	text-align: center;
	font-family: "PT Serif";
	color: black;
}

h1 {
	text-align: center;
	color: white;
}

.centerthis {
	text-align: center;
	font-family: "PT Serif";
}

.subheader {
	font-family: "PT Serif";
	color: black;
}

td {
	color: white;
}

.container {
	font-size: 1.5em;
	float: center;
	text-align: center;
	margin-top: 55px;
	top: 50%;
	width: 100%;
}

.separate {
	align: center;
}

.makesmaller {
	font-size: .9em;
}

.changefont {
	font-family: "PT Serif";
}